{%- assign image = section.settings.socialsBg | img_url: 'grande'  -%}


<div class="section5 section max-width">
    <div class="socials--container">
        <div class="socials--img" style="background-image: url({{ image }});">
            <div class="socials--content">
                <h4>{{ section.settings.socialsHeading}}</h4>

                <div class="line"></div>

                {%- for block in section.blocks -%}
                    <a href="{{block.settings.socialsUrl}}">
                        <img class="socialsIcon" src="{{block.settings.socialsIcon | img_url: "master"}}"/>
                    </a>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "socials",
    "settings": [
    {
            "type": "text",
            "id": "socialsHeading",
            "label": "heading",
            "default": "Heading",
            "placeholder": "Heading"
    },

    {
        "type": "image_picker",
        "id": "socialsBg",
        "label": "background image"
    }

],
    "blocks": [
        {
            "name": "icon",
            "type": "image_picker",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "socialsIcon",
                    "label": "icon"
                },

                {
                    "type": "url",
				    "id": "socialsUrl",
				    "label": "social url"
                }
            ]
        }
    ],

    "presets": [
        {
            "name": "socials",
            "category": "Custom section"
        }
    ]
}
{% endschema %}